body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    text-align: center;
}
h1 {
    text-align: center;
    color:black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 25%;
    height: 150px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.cell {
    position: relative;
}
.button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 32px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
}
.button1 {
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.result {
    margin-top: 20px;
    font-size: 30px;
}
#binary {
    
    font-size: 30px;
}
.cell:hover .button {
    display: block;
}